.content__sheets {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin-top: -1.6875rem;
}

.table_sheets {
  width: 85vw;
  height: 100%;
  overflow:hidden;
}

.notification__sheets {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notification {
  width: 95%;
}