.handsontable {
  border-color: #2b353d;
}

.sheet__override {
  /* margin-bottom: 1.5rem; */
  background-color: white;
  color: #363636;
  border-collapse: collapse;
  border-spacing: 0;
}

.box__scroll {
  overflow-x: auto;
} 

.currentRow {
  background-color: red;
}

/* .sheet__override td, th {
  background-color: white;
  color: #363636;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: .9rem;
  font-weight: 100;
  padding: 1rem;
} */