.glance__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: auto;
}

.glance__card-container {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  margin: $gutter;

  & > glance-card {
    position: relative;

    &:before {
      content: "";
      padding-bottom: 100%;
      display: table;
    }
  }
}

.glance__category {}

.glance__row {
  width: 100%;
  display: flex;
  border-bottom: 1px solid $neutral-mid;
}

.glance__column {
  font-size: 1rem;
  padding: .5rem .25rem;
  text-align: right;
  flex: 0 0 6.25rem;
  border: solid 2px white;

  &--header {
    font-size: 1rem;
    padding: .5rem .25rem;
    text-align: right;
    flex: 0 0 6.25rem;
    border: solid 2px white;
    background-color: $primary;
    color: $text-bright;
  }

  &:first-child {
    flex: 0 0 15.625rem;
  }
}

.glance__column:hover {
  border: solid 2px $main;
}
