.sidebar {
  border-radius: .125rem;
  width: 10rem;
  text-align: right;
  padding: .3125rem;
  background-color: $secondary;
}

.sidebar__title {
  border-radius: .125rem;
  color: $text-bright;
  background-color: $primary;
  font-size: $big;
  text-transform: uppercase;
  font-weight: normal;
  font-style: italic;
}

.sidebar__menuitem {
  border-radius: .125rem;
  padding: .3125rem;
  color: $primary;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  & a {
    color: $primary;
    text-decoration: none;
  }

  &--active {
    color: $primary;
    border-radius: .125rem;
    padding: .3125rem;
    background-color: $tertiary;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    & a {
      color: $primary;
      text-decoration: none;
    }
  }
}
