.sidebar {
  width: 10%;
  min-width: 4.5rem;
  text-align: right;
  padding: .3125rem;
  background-color: $secondary;
}

.sidebar__title {
  color: $text-bright;
  background-color: $primary;
  font-size: $big;
  text-transform: capitalize;
  font-weight: normal;
}

.sidebar__menuitem {
  padding: .3125rem;
}

.sidebar__menuitem--active {
  padding: .3125rem;
  background-color: $tertiary;
}
