.sidebar {
  border-radius: .125rem;
  width: 10rem;
  text-align: right;
  padding: .3125rem;
  background-color: $secondary;
}

.sidebar__title {
  border-radius: .125rem;
  color: $text-bright;
  background-color: $primary;
  font-size: $big;
  text-transform: uppercase;
  font-weight: normal;
  font-style: italic;
}

.sidebar__menuitem {
  border-radius: .125rem;
  padding: .3125rem;
  margin: .3125rem;
  color: $primary;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  & a {
    color: $primary;
    text-decoration: none;
  }

  &--active {
    color: $primary;
    border-radius: .125rem;
    padding: .3125rem;
    margin: .3125rem;
    background-color: $tertiary;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    & a {
      color: $primary;
      text-decoration: none;
    }
  }

  & input {
    outline:none;
    width: 100%;
    font-size: $normal;
    border: 0;
    border-bottom: 2px solid $tertiary;
    padding: .3125rem;
    color: $primary;
    background-color: $secondary;

    &::placeholder {
      color: $tertiary;
      opacity: .4;
    }
  }
}

.addplus {
  width: 100%;
  text-align: center;

  & button {
    border-radius: 2px;
    font-size: 0.75rem;
    background-color: #363636;
    border-color: transparent;
    color: $text-bright;
    cursor: pointer;
    padding: .375rem .75rem;
    text-decoration: none;
    margin: 1rem;
    outline:none;
  }
}
