.banner {
  align-items: stretch;
  display: flex;
  justify-content: space-between;

  &__content {
    display: flex;
    align-items: baseline;
    flex-grow: 1;
    flex-wrap: wrap;
    padding: 2rem;
    box-shadow: 0 2px 4px 0 #00000015;
  }

  &__title {
    padding: .5rem;
    margin-right: 2.4rem; 
    color: $neutral-dark;
    font-size: $giant;
    line-height: 1.125;
  }

  &__subtitle {
    padding: .5rem;
    color: $neutral-dark;
    font-size: $zoom;
    line-height: 1.25;
  }
}

.banner__actions {
  padding: .5rem;
  margin-left: auto;
  align-self: flex-start;
}

.dashboard {
  display: flex;
  background: #F4F5F9;

  &__content {
    width: 90%;
  }
}


.button--issue {
  border-radius: 2px;
  font-size: $small;
  background-color: $neutral-dark;
  border-color: transparent;
  color: $text-bright;
  cursor: pointer;
  padding: .375rem .75rem;
  text-decoration: none;
}
