.sidebar {
  border-radius: 1rem;
  border: 1px solid $neutral-light;
  width: 13rem;
  padding: $gutter;
  margin: $gutter 0 $gutter $gutter;
  background-color: $bright;
  line-height: 1.8;
}

.sidebar__title {
  color: $grey-dark;
  font-size: $big;
  font-weight: normal;
}

.sidebar__menu {
  list-style-type: none;
}

.sidebar__menuitem {
  font-size: $normal;
  color: $neutral-mid;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: $third 0;

  & a {
    font-size: $normal;
    color: $neutral-mid;
    text-decoration: none;
    padding: $third 0;
  }

  &--active {
    font-size: $normal;
    color: $grey-dark;
    background-color: $tertiary;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: $third 0;

    & a {
      color: $grey-dark;
      text-decoration: none;
    }
  }

  & input {
    font-family: $family-sans-serif;
    outline:none;
    width: 100%;
    padding: $halfgutter 0;
    font-size: $normal;
    border: 0;
    border-bottom: 2px solid $tertiary;
    color: $grey-dark;

    &::placeholder {
      color: $neutral-mid;
    }
  }
}

.addplus {
  width: 100%;
  cursor: pointer;
  font-size: $normal;
  color: $neutral-light;
  padding: $halfgutter 0;
}
