@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
// @import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');

* {
  margin: 0;
  padding: 0;
}

// Set your brand colors
$main: #0029FA;
$accent1: #FFFF05;
$accent2: #FF08BD;
$linedark: #070F0D;
$linebright: #D4DBF5;
$bright: #FFFFFF;

// Update Bulma's global variables
$family-sans-serif: "Nunito",
sans-serif;
$grey-dark: $linedark;
$grey-light: $linebright;
$primary: $main;
$warning: $accent1;
$danger: $accent2;
$link: $main;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $bright;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
