@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
// @import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');


// Set your brand colors
$main: #0029FA;
$accent1: #FFFF05;
$accent2: #FF08BD;
$linedark: #070F0D;
$linebright: #D4DBF5;
$bright: #FFFFFF;

// Update Bulma's global variables
$grey-dark: $linedark;
$grey-light: $linebright;
$primary: $main;
$danger: $accent2;
$link: $main;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $bright;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;


// GENERAL VARIABLES
// TEXT
$family-sans-serif: "Nunito";

// COLORS
$primary: #0029FA;
$secondary: #FF08BD;
$tertiary: #FFFF05;
$neutral-dark: #363636;
$neutral-mid: #D8D8D8;
$neutral-light: #F2F2F2;
$neutral-white: #FFFFFF;
$text-bright: #FFFFFF;

// SIZES
$tiny: .1rem;
$quarter: .25rem;
$third: .3rem;
$half: .5rem;
$small: .75rem;
$normal: 1rem;
$zoom: 1.25rem;
$big: 1.5rem;
$bigger: 1.75rem;
$double: 2rem;
$giant: 2.5rem;
$huge: 2.75rem;
$triple: 3rem;
$massive: 3.5rem;

//ALIASES
.pulled-right {
  float: right;
}

// GENERAL STYLE DEFs

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: $family-sans-serif;
}
